@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet');

body {
    background-color: #E8CFC1;
    background-size: cover;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 40px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}
.btn-outline:hover {
    color: #3C3640;
    border-color: #3C3640;    
}